    'api_role' => array(
        'general.use',
        'general.see_all',
        'general.see_user_views',
        'general.see_user_dashboards',
        'general.view_option_columns',
        'general.painter_options',
        'general.see_sidebar',
        'general.logout',
        'general.see_user_bookmark_list',
        'sidesnap.wiki',
        'sidesnap.wato_folders',
        'sidesnap.custom_links',
        'sidesnap.nagios_legacy',
        'sidesnap.dashboards',
        'sidesnap.bookmarks',
        'sidesnap.biaggr_groups',
        'sidesnap.tactical_overview',
        'sidesnap.wato_foldertree',
        'sidesnap.problem_hosts',
        'sidesnap.nagvis_maps',
        'sidesnap.views',
        'sidesnap.hostgroups',
        'sidesnap.search',
        'sidesnap.hostmatrix',
        'sidesnap.about',
        'sidesnap.tag_tree',
        'sidesnap.servicegroups',
        'sidesnap.hosts',
        'sidesnap.time',
        'wato.api_allowed',
        'wato.use',
        'wato.edit',
        'wato.activate',
        'wato.activateforeign',
        'wato.hosts',
        'wato.edit_hosts',
        'wato.move_hosts',
        'wato.rename_hosts',
        'wato.manage_hosts',
        'wato.services',
        'wato.see_all_folders',
        'wato.all_folders',
        'wato.download_agents',
        'nagvis.Rotation_view_*',
        'nagvis.Map_view_*',
        'action.reschedule',
        'mkeventd.seeall',
        'mkeventd.seeunrelated',
        'mkeventd.see_in_tactical_overview',
        'view.inv_hosts_cpu',
        'view.invsensor_of_host',
        'view.invswpac_of_host',
        'view.mobile_notifications',
        'view.aggr_service',
        'view.ec_events_of_host',
        'view.invorarecoveryarea_of_host',
        'view.hostgroupservices',
        'view.searchpnp',
        'view.starred_services',
        'view.inv_hosts_ports',
        'view.hosttiles',
        'view.mobile_svcproblems_unack',
        'view.nagstamon_hosts',
        'view.servicegroup',
        'view.allhosts',
        'view.hostevents',
        'view.aggr_single_api',
        'view.downtimes_of_host',
        'view.searchsvc',
        'view.aggr_hostgroup_boxed',
        'view.host_pending',
        'view.alerthandlers',
        'view.invpsu_search',
        'view.invinterface_search',
        'view.invfan_of_host',
        'view.invoradataguardstats_of_host',
        'view.downtime_history',
        'view.aggr_all',
        'view.svcbygroups',
        'view.hoststatus',
        'view.comments_of_service',
        'view.servicedesc',
        'view.problemsofhost',
        'view.hostgroupgrid',
        'view.mobile_hostproblems',
        'view.invbackplane_of_host',
        'view.mobile_hostsvcevents',
        'view.invfan_search',
        'view.notifications',
        'view.servicedescpnp',
        'view.comments_of_host',
        'view.host_crit',
        'view.invmodule_of_host',
        'view.host_unknown',
        'view.ec_history_of_host',
        'view.logfile',
        'view.nagstamon_svc',
        'view.ec_history_of_event',
        'view.hostpnp',
        'view.sitesvcs',
        'view.mobile_svcproblems',
        'view.aggr_summary',
        'view.perf_matrix_search',
        'view.mobile_contactnotifications',
        'view.host_export',
        'view.ec_events_mobile',
        'view.hostgroup',
        'view.svc_dt_hist',
        'view.ec_historyentry',
        'view.api_downtimes',
        'view.mobile_events',
        'view.hosts',
        'view.uncheckedsvc',
        'view.aggr_singlehosts',
        'view.inv_host_history',
        'view.downtimes_of_service',
        'view.allservices',
        'view.host_dt_hist',
        'view.mobile_hostsvcnotifications',
        'view.pending_discovery',
        'view.failed_notifications',
        'view.ec_history_recent',
        'view.invswpac_search',
        'view.hostgroups',
        'view.unmonitored_services',
        'view.svcproblems',
        'view.inv_host',
        'view.mobile_svcevents',
        'view.starred_hosts',
        'view.sitehosts',
        'view.invmodule_search',
        'view.aggr_group',
        'view.hostproblems',
        'view.searchhost',
        'view.hostsvcevents',
        'view.invorarecoveryarea_search',
        'view.svcproblems_dash',
        'view.mobile_hostproblems_unack',
        'view.downtimes',
        'view.hostproblems_dash',
        'view.aggr_host',
        'view.comments',
        'view.aggr_problems',
        'view.mobile_hoststatus',
        'view.hostnotifications',
        'view.host_warn',
        'view.aggr_all_api',
        'view.svcbyhgroups',
        'view.stale_hosts',
        'view.contactnotifications',
        'view.invsensor_search',
        'view.events',
        'view.events_dash',
        'view.ec_events',
        'view.invoratablespace_search',
        'view.host_ok',
        'view.invoradataguardstats_search',
        'view.invorainstance_search',
        'view.ec_event',
        'view.invoratablespace_of_host',
        'view.mobile_searchsvc',
        'view.hostsvcnotifications',
        'view.mobile_searchhost',
        'view.aggr_hostnameaggrs',
        'view.invorainstance_of_host',
        'view.host',
        'view.pendingsvc',
        'view.mobile_svcnotifications',
        'view.hostsbygroup',
        'view.mobile_host',
        'view.invpsu_of_host',
        'view.ec_event_mobile',
        'view.service',
        'view.svcgroups',
        'view.aggr_hostproblems',
        'view.svcnotifications',
        'view.alertstats',
        'view.allhosts_mini',
        'view.recentsvc',
        'view.invbackplane_search',
        'view.aggr_singlehost',
        'view.perf_matrix',
        'view.aggr_single',
        'view.mobile_service',
        'view.invinterface_of_host',
        'view.svcevents',
        'view.ec_events_of_monhost',
        'view.svcgroups_grid',
        'bi.see_all',
        'dashboard.simple_problems',
        'dashboard.main',
        'dashboard.topology',
    ),
