contacts.update({u'apiuser': {'alias': u'API User',
              'contactgroups': [],
              'disable_notifications': False,
              'email': u'',
              'host_notification_options': 'durfs',
              'locked_attributes': [],
              'notification_method': 'email',
              'notification_period': '24X7',
              'notifications_enabled': False,
              'pager': '',
              'service_notification_options': 'wucrfs'})
