roles.update({'admin': {'alias': 'Administrator', 'builtin': True, 'permissions': {}},
 'guest': {'alias': 'Guest user', 'builtin': True, 'permissions': {}},
 'api_role': {'alias': u'API User Role',
              'basedon': 'guest',
              'builtin': False,
              'permissions': {'action.reschedule': True,
                              'wato.activate': True,
                              'wato.activateforeign': True,
                              'wato.all_folders': True,
                              'wato.edit': True,
                              'wato.edit_hosts': True,
                              'wato.hosts': True,
                              'wato.manage_hosts': True,
                              'wato.move_hosts': True,
                              'wato.rename_hosts': True,
                              'wato.see_all_folders': True,
                              'wato.services': True,
                              'wato.use': True}},
 'user': {'alias': 'Normal monitoring user',
          'builtin': True,
          'permissions': {}}})
