roles.update({
 'admin': {'alias': 'Administrator', 'builtin': True, 'permissions': {}},
 'guest': {'alias': 'Guest user', 'builtin': True, 'permissions': {}},
{% if checkmk['config']['users']['api'] and checkmk['config']['users']['api']['user_name'] != "" and checkmk['config']['users']['api']['user_token'] != "" %}
 'api_role': {'alias': u'API User Role',
              'basedon': 'guest',
              'builtin': False,
              'permissions': {'action.reschedule': True,
                              'wato.activate': True,
                              'wato.activateforeign': True,
                              'wato.all_folders': True,
                              'wato.edit': True,
                              'wato.edit_hosts': True,
                              'wato.hosts': True,
                              'wato.manage_hosts': True,
                              'wato.move_hosts': True,
                              'wato.rename_hosts': True,
                              'wato.see_all_folders': True,
                              'wato.services': True,
                              'wato.use': True}},
{% endif %}
 'user': {'alias': 'Normal monitoring user',
          'builtin': True,
          'permissions': {}}{% if checkmk['config']['users']['mail'] and checkmk['config']['users']['mail']['user_name'] != "" and checkmk['config']['users']['mail']['user_pw'] != "" %},
 'mail_role': {'alias': u'Mail User Role',
               'basedon': 'user',
               'builtin': False,
               'permissions': {}}
{% endif %}
})
